// We can use this file to override Bootstrap classes

$primary:   rgb(172, 160, 187);
$nav:   rgb(247, 235, 236);

$success:   #AC9FBB;
$light:     #AC9FBB;
$body-bg:   #ffffff;        
$body-color:#76717a;       


$navbar-light-color:                $nav !default;
$navbar-light-hover-color:          rgba($nav, .7) !default;
$navbar-light-active-color:         rgba($nav, .9) !default;
$navbar-light-disabled-color:       rgba($nav, .3) !default;
$navbar-light-toggler-border-color: rgba($nav, .1) !default;

@import '~bootstrap/scss/bootstrap';

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    body {
         margin-bottom: 5em;
    }
}